.App {
  text-align: center;
  background-image: linear-gradient(to left, rgb(247, 215, 203), rgb(206, 139, 114));
  font-family: AvenirNext-Regular;
}

.App-header {
  background-color: #222222;
  padding: 1em;
  color: aliceblue;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}


.image-home{
  height: 300px;
  width: 300px;
}

.card-text{
  width: 300px;
  height: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: rgb(248, 118, 66);
  font-size: 25px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

img {
  margin: 0;
  padding: 0;
  height: 300px;
  width: 300px;
  border-radius: 5px;
}

.gallery-card {
  height: 380px;
  width: 320px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  border-radius: 5px;
}

.gallery-card:hover{
  box-shadow: 5px 5px 8px grey;
  transition: box-shadow 0.3s;
}

.gallery-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.holder{
  margin-top: 10px;
  height: 300px;
  width: 300px;
  opacity: 85%
}

.holder:hover{
  box-shadow: 1px 1px 3px grey;
  opacity: 100%;
  transition: .2s;
}

.like-container{
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

button{
  border: none;
  border-radius: 5px;
  background-color: lightsalmon;
  color: white;
  font-weight: bolder;
  width: 120px;
  height: 45px;
}

button:hover{
  background-color: rgb(248, 118, 66);
  transition: .3s;

}

button:active{
  border: 1px solid rgb(248, 118, 66);
  background-color: white;
  transition: .2s;
  color: rgb(248, 118, 66);
}

button span {
  padding-left: 10px;
  font-size: large;
}

button:focus {
  outline:0;
}
