.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.image-home{
  height: 100px;
  width: 100px;
}

.card-text{
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
  padding: 0;
  margin: 0;
}

img {
  padding: 0;
  margin: 0;
  height: 100px;
  width: 100px;
}

.gallery-card {
  height: 300px;
  width: 150px;
  border: 1px solid black;
}
